{% extends 'templates/base_one.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mx-a col-md-4">
    <div class="content-section">
        <h4 class="form-border-bottom mb-4">Zaloguj się do aplikacji</h4>
        <hr>
        {% crispy form %}
        <div class="border-top pt-2 mt-3">
            <small class="text-muted">
                <span>Nie pamiętasz hasła?</span>
                <a href="{% url 'password_reset_request' %}">Reset hasła</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}
