{% extends 'templates/base_one.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mx-a col-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ustaw nowe hasło</legend>
                <p>Wprowadź dwa razy identyczne hasło:</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zmień hasło</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}