{% extends 'templates/base_one.html' %}



{% block content %}
<div class="mx-a col-md-6">
    <div class="content-section">
        <h2>Reset hasła wysłany</h2>
        <div class="border-top pt-3">
            <p>Wysłaliśmy do Ciebie email z instrukcją jak ustawić nowe hasło, o ile Twoje konto istnieje i wpisałeś poprawny
      adres email. Sprawdź swoją skrzynkę pocztową. Poczekaj chwilę, jeśli email nie dotarł lub sprawdź folder spam.</p>
        </div>
    </div>
</div>
{% endblock content %}
