{% extends 'templates/base_one.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Zmiana hasła</legend>
                <p>Zapomniałeś/aś hasła? Wpisz i wyślij swój adres email poniżej, to wyślemy do Ciebie instrukcje jak zmienić hasło.</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zmień hasło</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Jednak pamiętasz?
                <a href="{% url 'login' %}">Zaloguj się</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}