{% extends 'form/base_one.html' %}

{% block content %}
<div class="col-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ustaw nowe hasło</legend>
                <p>Wprowadź dwa razy identyczne hasło:</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zmień hasło</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}