{% extends 'form/base_one.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Zmiana hasła</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zmień hasło</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <span>Pomyłka? Wróć do swojego profilu:</span>
                <a href="{% url 'password_reset_request' %}">Powrót</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}