{% extends "admin/base_site.html" %}

{% block content %}
<h1>{{ report_name }}</h1>
<a href="?format=csv" class="button">Pobierz CSV</a>
<p></p>
<table>
    <thead>
        <tr>
            {% for c in columns %}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for val in row %}
            <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
