{% extends "templates/base_one.html" %}
{% load custom_filters %}

{% block content %}
{% endblock content %}

{% block sidebar %}
<div class="col-md-3">
  <div class="content-section sticky-element side-panel-scroll">
    <a href="{% url 'order-update-form' %}"><h3>Twoje zamówienie:</h3></a>
    <p class='text-muted'>Wartość zamówienia: {{ order_cost|floatformat:"2" }} zł.</p>
    <p class='text-muted'>Numer zamówienia/skrzynki: {{ order.order_number }}.</p>
    <ul class="list-group">
    {% for orderitem in orderitems %}
      <li class="list-group-item list-group-item-light">{{ orderitem.quantity|format_decimal:3 }} x {{ orderitem.product.name }} {{ orderitem.product.price }} zł</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock sidebar %}
