{% extends "form/base_order_sidebar.html" %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}

{% block products %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        {{ management_form }}
        <table>
            {% for product, form, quantity in zipped %}
              <tr class="row1">
                <td>
                    <div>{{ product.producer.short }}</div>
                </td>
                <td>
                    <div>{{ product.price }} zł <br>za szt/kg</div>
                </td>
                <td>
                    <div>{{ product.name|slice:":-5" }}</div>
                    <div>
                      {% if product.statuses.all %}
                          <span class="text-muted">Status: </span>
                          {% for status in product.statuses.all %}
                            <span class="text-muted"><strong>{{ status }},</strong></span>
                          {% endfor %}
                      {% endif %}
                    </div>
                </td>
                <td>
                    {% crispy form %}
                </td>
                <td>
                    <input class="btn btn-primary btn-margin-fix" type="submit" name="submit" value="Dodaj">
                </td>
                <td>
                    {% if quantity is not None %}
                        <span class="mr-2"> Max: {{ quantity|format_decimal:3 }} (szt/kg) </span>
                    {% else %}
                        <span> </span>
                    {% endif %}
                </td>
                <td>
                    <div>
                        {{ product.category }}, {{ product.subcategory }}:
                        {{ product.description }}
                    </div>
                </td>
              </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock products %}

{% endblock content %}