{% extends "form/base_one.html" %}
{% load custom_filters %}
{% block content %}

<div class="col-md-8">
  <div class="content-section">
    <h3>Twoje zamówienie:</h3>
    <p class='text-muted'>Wartość zamówienia: {{ order_cost|floatformat:"2" }} zł.</p>

    <ul class="list-group">
    {% for orderitem in orderitems %}
      <li class="list-group-item list-group-item-light">{{ orderitem.product.name }}: {{ orderitem.quantity|format_decimal:3 }}</li>
    {% endfor %}
    </ul>

    <form method="post">
    {% csrf_token %}
    {{ form.management_form }}

    {% for orderitem, form in orderitems_with_forms %}
        <article class="media content-section">
          <div class="media-body">
            <h5 class="article-title">{{ orderitem.product.name }}</h5>
                {{ form }}
                <input type="submit" name="submit" value="Dodaj">
          </div>
        </article>
    {% endfor %}
    </form>
  </div>
</div>


<script>
        // messages.js
    function showMessages() {
        const messages = document.querySelectorAll('.alert');
        messages.forEach((message) => {
            message.style.opacity = 1;
            message.style.visibility = 'visible';

            setTimeout(() => {
                message.style.opacity = 0;
                message.style.visibility = 'hidden';

                // Remove the message from the DOM after fading out
                setTimeout(() => {
                    message.remove();
                }, 10); // Adjust the duration for fading out (0.5s in this example)
            }, 12000); // Hide the message after 15 seconds (15000 milliseconds)
        });
    }

    // Call the showMessages function when the page loads
    document.addEventListener('DOMContentLoaded', showMessages);
</script>

{% endblock content%}