{% extends "templates/base_one.html" %}
{% load custom_filters %}
{% block content %}
<div class="col-md-9">
    <h3><strong>Zamówienie {{ user_name }}</strong></h3>
    <h5>Edytuj produkty w swoim zamówieniu.</h5>
    <h6>Jeśli chcesz usunąć produkt z zamówienia - z listy rozwijanej wybierz '0' i kliknij Zmień</h6>

    <div class="row">
        <div class="col-md-4">
            {% for product in products %}
                  <div class="border-bottom">
                    <div>
                      <span class="border-1">{{ product.name }}</span>
                    </div>

                    <div>
                      <span class="mr-2"><strong>{{ product.price }}</strong> zł za szt/kg</span>
                      <span class="mr-2"> | Kat: {{ product.category }}</span>
                    </div>

                    <div>
                      <span class="mr-2">{{ product.producer.short }}</span>
                      <span class="text-muted">Status produktu: </span>
                      {% for status in product.statuses.all %}
                        <span class="text-muted"><strong>{{ status }},</strong></span>
                      {% endfor %}
                    </div>
                  </div>
            {% endfor %}
        </div>

        <div class="col-md-4">
                {% for desc in products_description %}
                      <div class="border-bottom">
                        <div>
                          <span class="mr-2">{{ desc }}</span>
                        </div>
                      </div>
                {% endfor %}
        </div>

        <div class="col-md-2">
            <form method="post">
                {% csrf_token %}
                {{ form.management_form }}
                {% for form_instance in form %}
                      <div class="border-bottom">
                        <div>
                          {{ form_instance }}
                          <input type="submit" name="submit" value="Zmień">
                        </div>
                      </div>
                {% endfor %}
            </form>
        </div>

        <div class="col-md-2">
            {% for quantity in available_quantities_list %}
                  <div class="border-bottom">
                    <div>
                        {% if quantity is not None %}
                            <span class="mr-2"> Max: {{ quantity|format_decimal:3 }} (sztuk lub kg) </span>
                        {% else %}
                            <span> </span>
                        {% endif %}
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-3">
  <div class="content-section sticky-element">
    <h3>Szczegóły zamówienia:</h3>
    <p class='text-muted'>Wartość zamówienia: {{ order_cost|floatformat:"2" }} zł.</p>
    <p class='text-muted'>Twój fundusz: {{ fund }}.</p>
    <p class='text-muted'>Wartość zamówienia z funduszem: <strong>{{ order_cost_with_fund|floatformat:"2" }} zł.</strong></p>
    <p class='text-muted'>Numer zamówienia/skrzynki: {{ order.order_number }}.</p>
    <p class='text-muted'>Dzień odbioru: {{ order.pick_up_day }}.</p>
    <a href="{% url 'order-update' pk=order.id %}" class="button">Zmień dzień odbioru</a>
    <a href="{% url 'order-delete' pk=order.id %}" class="button">Usuń to zamówienie</a>
  </div>
</div>

{% endblock content%}