{% extends "form/base_one.html" %}
{% load custom_filters %}
{% block content %}

<div class="col-md-8">
    <form method="post">
        {% csrf_token %}
            <article class="media content-section">
              <div class="media-body">
                    {{ form.as_p }}
                    <input type="submit" name="submit" value="Rozpocznij zamówienie">
              </div>
            </article>
    </form>
</div>


<script>
        // messages.js
    function showMessages() {
        const messages = document.querySelectorAll('.alert');
        messages.forEach((message) => {
            message.style.opacity = 1;
            message.style.visibility = 'visible';

            setTimeout(() => {
                message.style.opacity = 0;
                message.style.visibility = 'hidden';

                // Remove the message from the DOM after fading out
                setTimeout(() => {
                    message.remove();
                }, 10); // Adjust the duration for fading out (0.5s in this example)
            }, 12000); // Hide the message after 15 seconds (15000 milliseconds)
        });
    }

    // Call the showMessages function when the page loads
    document.addEventListener('DOMContentLoaded', showMessages);
</script>

{% endblock content%}