{% extends "form/base_one.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-4">
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Stwórz zamówienie na najbliższy tydzień</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Utwórz zamówienie</button>
            </div>
        </form>
    </div>
</div>


<script>
        // messages.js
    function showMessages() {
        const messages = document.querySelectorAll('.alert');
        messages.forEach((message) => {
            message.style.opacity = 1;
            message.style.visibility = 'visible';

            setTimeout(() => {
                message.style.opacity = 0;
                message.style.visibility = 'hidden';

                // Remove the message from the DOM after fading out
                setTimeout(() => {
                    message.remove();
                }, 10); // Adjust the duration for fading out (0.5s in this example)
            }, 12000); // Hide the message after 15 seconds (15000 milliseconds)
        });
    }

    // Call the showMessages function when the page loads
    document.addEventListener('DOMContentLoaded', showMessages);
</script>

{% endblock content%}