{% extends "form/base_order_sidebar.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="col-md-9">
    <h4>Składanie zamówienia. Wybrany producent:</h4>
    <h3><strong>{{ producer.name }}</strong></h3>
    <p>{{ producer.description }}</p>
    <label for="producers">Zmień producenta:</label>
    <select name="producers" id="producers">
      <option disabled selected value> -- wybierz -- </option>
      {% for producer in producers %}
          <option value="{% url 'order-products-form' slug=producer.0 %}">{{ producer.1 }}</option>
      {% endfor %}
    </select>

    <button onclick="goToSelectedLink()">Idź</button>

    <div>
    {% if previous_producer %}
        <a class="btn btn-outline-secondary my-2" href="{% url 'order-products-form' slug=previous_producer %}">Poprzedni producent</a>
    {% endif %}
    {% if next_producer %}
        <a class="btn btn-outline-secondary my-2" href="{% url 'order-products-form' slug=next_producer %}">Następny producent</a>
    {% endif %}
    </div>

    <div class="pagination">
        <span class="step-links margin-bottom">
            {% if paginated_products.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ paginated_products.previous_page_number }}">&lsaquo; wcześniejsza</a>
            {% endif %}

            <span class="current">
                Strona {{ paginated_products.number }} z {{ paginated_products.paginator.num_pages }}.
            </span>

            {% if paginated_products.has_next %}
                <a href="?page={{ paginated_products.next_page_number }}">następna &rsaquo;</a>
                <a href="?page={{ paginated_products.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div class="row">
        <div class="col-md-4">
                {% for product in products %}
                      <div class="border-bottom">

                        <div>
                          <span class="border-1">{{ product.name }}</span>
                        </div>

                        <div>
                          <span class="mr-2"><strong>{{ product.price }}</strong> zł za szt/kg</span>
                          <span class="mr-2"> | Kat: {{ product.category }}</span>
                        </div>

                        <div>
                          <span class="text-muted">Status produktu: </span>
                          {% for status in product.statuses.all %}
                            <span class="text-muted"><strong>{{ status }},</strong></span>
                          {% endfor %}
                        </div>

                      </div>
                {% endfor %}
        </div>

        <div class="col-md-2">

            <form method="post">
                {% csrf_token %}
                {{ management_form }}

                {% for form_instance in form %}
                      <div class="border-bottom">

                        <div>
                          {{ form_instance }}
                          <input type="submit" name="submit" value="Dodaj">
                        </div>

                      </div>
                {% endfor %}

            </form>
        </div>

        <div class="col-md-2">

                {% for quantity in available_quantities_list %}
                      <div class="border-bottom">
                        <div>
                            {% if quantity is not None %}
                                <span class="mr-2"> Max: {{ quantity|format_decimal:3 }} (sztuk lub kg) </span>
                            {% else %}
                                <span> </span>
                            {% endif %}
                        </div>
                      </div>
                {% endfor %}
        </div>

        <div class="col-md-4">

                {% for desc in products_description %}
                      <div class="border-bottom">

                        <div>
                          <span class="mr-2">{{ desc }}</span>
                        </div>

                      </div>
                {% endfor %}

        </div>

    </div>
    <div class="pagination">
        <span class="step-links margin-bottom margin-top-fix-60">
            {% if paginated_products.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ paginated_products.previous_page_number }}">&lsaquo; wcześniejsza</a>
            {% endif %}

            <span class="current">
                Strona {{ paginated_products.number }} z {{ paginated_products.paginator.num_pages }}.
            </span>

            {% if paginated_products.has_next %}
                <a href="?page={{ paginated_products.next_page_number }}">następna &rsaquo;</a>
                <a href="?page={{ paginated_products.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'form/js/go_to_producer.js' %}"></script>
{% endblock javascript %}