{% extends "form/base_order_sidebar.html" %}
{% load custom_filters %}
{% block content %}

<div class="col-md-9">
    <div class="row">
        <div class="col-md-8">

            <article class="media fixed-height-div">
              <div class="media-body">
                {% for product in products %}
                    <div>
                        <span><strong>{{ product }}</strong></span>
                    </div>

                    <div>
                      <span class="mr-2">{{ product.price }} zł za szt/kg</span>
                      <span class="mr-2"> | Kat: {{ product.category }}, {{ product.subcategory }} |</span>
                      <span class="text-muted">Status: </span>
                      {% for status in product.statuses.all %}
                        <span class="text-muted"><strong>{{ status }},</strong></span>
                      {% endfor %}
                    </div>

                    <div>
                        <span class="mr-2">Opis: {{ product.description }}</span>
                    </div>

                    <div class="article-metadata">
                        {% if product.quantity_in_stock is not None %}
                            <span class="mr-2"> Maksymalnie możesz zamówić: {{ product.quantity_in_stock|format_decimal:3 }} (sztuk lub kg) </span>
                        {% else %}
                            <span> </span>
                        {% endif %}
                    </div>
                {% endfor %}
              </div>
            </article>

        </div>

        <div class="col-md-4 position-fix">
            <form method="post">
                {% csrf_token %}
                <article class="media fixed-height-div">
                  <div class="media-body">
                    <div class="article-metadata">
                      {{ form }}
                      <input type="submit" name="submit" value="Dodaj">
                    </div>

                  </div>
                </article>
            </form>
        </div>
    </div>
</div>
{% endblock content%}

