{% extends "form/base_order_sidebar_products.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="col-md-9">
    <h4>Składanie zamówienia. Wybrany producent:</h4>
    <h3><strong>{{ producer.name }}</strong></h3>
    <p>{{ producer.description }}</p>
    <label for="producers">Zmień producenta:</label>
    <select name="producers" id="producers">
      <option disabled selected value> -- wybierz -- </option>
      {% for producer in producers %}
          <option value="{% url 'order-products-form' slug=producer.0 %}">{{ producer.1 }}</option>
      {% endfor %}
    </select>

    <button onclick="goToSelectedLink()">Idź</button>

    <div>
    {% if previous_producer %}
        <a class="btn btn-outline-secondary my-2" href="{% url 'order-products-form' slug=previous_producer %}">Poprzedni producent</a>
    {% endif %}
    {% if next_producer %}
        <a class="btn btn-outline-secondary my-2" href="{% url 'order-products-form' slug=next_producer %}">Następny producent</a>
    {% endif %}
    </div>







    <div class="pagination">
        <span class="step-links margin-bottom">
            {% if paginated_products.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ paginated_products.previous_page_number }}">&lsaquo; wcześniejsza</a>
            {% endif %}

            <span class="current">
                Strona {{ paginated_products.number }} z {{ paginated_products.paginator.num_pages }}.
            </span>

            {% if paginated_products.has_next %}
                <a href="?page={{ paginated_products.next_page_number }}">następna &rsaquo;</a>
                <a href="?page={{ paginated_products.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>

{% block products %}
{{ block.super }}
{% endblock products %}

    <div class="pagination">
        <span class="step-links margin-bottom margin-top-fix-60">
            {% if paginated_products.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ paginated_products.previous_page_number }}">&lsaquo; wcześniejsza</a>
            {% endif %}

            <span class="current">
                Strona {{ paginated_products.number }} z {{ paginated_products.paginator.num_pages }}.
            </span>

            {% if paginated_products.has_next %}
                <a href="?page={{ paginated_products.next_page_number }}">następna &rsaquo;</a>
                <a href="?page={{ paginated_products.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'form/js/go_to_producer.js' %}"></script>
{% endblock javascript %}