{% extends "form/base_order_sidebar.html" %}
{% load custom_filters %}
{% block content %}

<div class="col-md-9">
    <div class="row">
        <div class="col-md-8">

            <article class="media fixed-height-div">
              <div class="media-body">
                {% for product in products %}
                <div>
                  <span class="article-title border-1">{{ product.name }}</span>
                  <span class="mr-2">{{ product.description }}</span>
                </div>

                <div>
                  <span class="mr-2"><strong>{{ product.price }}</strong> zł za szt/kg</span>

                  <span class="text-muted"> | Status produktu: </span>
                  {% for status in product.statuses.all %}
                    <span class="text-muted"><strong>{{ status.status_type }},</strong></span>
                  {% endfor %}
                </div>

                    <div class="article-metadata">
                        {% if product.available_quantity is not None %}
                            <span class="mr-2"> Maksymalnie możesz zamówić: {{ product.available_quantity|format_decimal:3 }} (sztuk lub kg) </span>
                        {% else %}
                            <span> </span>
                        {% endif %}
                    </div>
                {% endfor %}
              </div>
            </article>

        </div>

        <div class="col-md-4 position-fix">
            <form method="post">
                {% csrf_token %}
                <article class="media fixed-height-div">
                  <div class="media-body">
                    <div class="article-metadata">
                      {{ form }}
                      <input type="submit" name="submit" value="Dodaj">
                    </div>

                  </div>
                </article>
            </form>
        </div>
    </div>
</div>
{% endblock content%}

