{% extends "form/base_one.html" %}
{% block content %}
    <div class="col-md-8">
        <h3>Wybierz producenta, żeby wyświetlić cotygodniowy raport sprzedaży:</h3>
        {% for producer in producers %}
            <article class="media content-section">
              <div class="media-body">
                <h4><a class="article-title" href="{% url 'producer-products-report' slug=producer.0 %}">{{ producer.1 }}</a></h4>
              </div>
            </article>
        {% endfor %}
    </div>
    <div class="col-md-3">
      <div class="content-section sticky-element">
        <h3>Wybierz raport:</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a href="{% url 'producer-products-list' %}">Produkty</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'producer-box-list' %}">Skrzynki</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'users-report' %}">Kooperanci</a></li>
        </ul>
      </div>
    </div>
{% endblock content%}
