{% extends "form/base_order_sidebar.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="col-md-9" xmlns="http://www.w3.org/1999/html">
    <h4>Przeglądanie produktów. Wybrany producent:</h4>
    <h3><strong>{{ producer.name }}</strong></h3>
    <p>{{ producer.description }}</p>
    <label for="producers">Zmień producenta:</label>
    <select name="producers" id="producers">
      <option disabled selected value> -- wybierz -- </option>
      {% for producer in producers %}
          <option value="{% url 'products' slug=producer.0 %}">{{ producer.1 }}</option>
      {% endfor %}
    </select>

    <button onclick="goToSelectedLink()">Idź</button>

    <div>
        {% if previous_producer %}
            <a class="btn btn-outline-secondary my-2" href="{% url 'products' slug=previous_producer %}">Poprzedni producent</a>
        {% endif %}
        {% if next_producer %}
            <a class="btn btn-outline-secondary my-2" href="{% url 'products' slug=next_producer %}">Następny producent</a>
        {% endif %}
    </div>

    <table class="td-products">
        {% for product in products %}
          <tr class="row1">
            <td>
                <div>{{ product.producer.short }}</div>
            </td>
            <td>
                <div>{{ product.price }} zł <br>za szt/kg</div>
            </td>
            <td>
                <div>{{ product.name|slice:":-5" }}</div>
                <div>
                  {% if product.statuses.all %}
                      <span class="text-muted">Status: </span>
                      {% for status in product.statuses.all %}
                        <span class="text-muted"><strong>{{ status }},</strong></span>
                      {% endfor %}
                  {% endif %}
                </div>
            </td>
            <td>
                <div>
                    {{ product.category }}, {{ product.subcategory }}:
                    {{ product.description }}
                </div>
            </td>
          </tr>
        {% endfor %}
    </table>


</div>
{% endblock content%}

{% block sidebar %}
{% endblock sidebar %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/go_to_producer.js' %}"></script>
{% endblock javascript %}
