{% extends "form/base_order_sidebar.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block content %}

<div class="col-md-9">
    <form method="get">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Wyszukiwarka produktów</legend>
             {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-secondary margin-bottom" type="submit">Szukaj</button>
        </div>
    </form>

    {% if products %}
        {% for product in products %}
            <article class="media">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="article-title" href="{% url 'order-item-form' pk=product.id %}"><strong>{{ product.price|floatformat:2 }} zł</strong> | kat: {{ product.category }} | <strong>{{ product.name }}</strong> | {{ product.producer.short }}</a>
                </div>
              </div>
            </article>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}
