{% extends "form/base_one.html" %}
{% load custom_filters %}
{% block content %}
    <div class="col-md-7">
    <label for="producers">Zmień producenta:</label>
    <select name="producers" id="producers">
      {% for producer in producers %}
          <option value="{% url 'products' slug=producer.0 %}">{{ producer.1 }}</option>
      {% endfor %}
    </select>

    <button onclick="goToSelectedLink()">Idź</button>

    <h3>{{ producer.name }}</h3>
    <p>{{ producer.description }}</p>



    {% for product in products %}
      <div class="section-product">

        <div>
          <span class="border-1">{{ product.name }}</span>
          <span class="mr-2"><strong>  {{ product.price }}</strong> zł za szt/kg</span>
          <span class="mr-2"> | Kat: {{ product.category }}</span>
        </div>

        <div>
          <span class="">{{ product.description }}</span>
        </div>

      </div>
    {% endfor %}
    </div>

    <script>
        function goToSelectedLink() {
            var select = document.getElementById("producers");
            var selectedOption = select.options[select.selectedIndex].value;
            if (selectedOption) {
                window.location.href = selectedOption;
            }
        }
    </script>
{% endblock content%}