{% extends "templates/base_one.html" %}
{% block content %}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-9">
            <h3>Przeglądanie produktów bez składania zamówienia. <br> Wybierz producenta:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% for producer in producers %}
                    <h5><a class="btn btn-outline-secondary my-1" href="{% url 'products' slug=producer.0 %}">{{ producer.1 }}</a></h5>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content%}
