{% extends "form/base_one.html" %}
{% block content %}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-9">
            <h3>Przeglądanie produktów bez składania zamówienia, wybierz producenta:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% for producer in producers %}
                  <div class="producer">
                    <h5><a class="article-title" href="{% url 'products' slug=producer.0 %}">{{ producer.1 }}</a></h5>
                  </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content%}
