{% extends "form/base_one.html" %}
{% block content %}

    <div class="col-md-9">

      <div class="form-group">
        <a class="btn btn-outline-secondary my-2" href="{% url 'producers-finance-report-download' %}">Pobierz raport</a>
      </div>

      <h3>Producenci finanse:</h3>

      <div class="row">

            <div class="col-md-3">
                <span class="mr-2">Nazwa producenta: </span>
                {% for name in producers_names %}
                    <article class="media ">
                      <div class="media-body">

                        <div>
                          <span class="mr-2">{{ name }}</span>
                        </div>

                      </div>
                    </article>
                {% endfor %}
            </div>

            <div class="col-md-2">
                <span class="mr-2">Suma zamówień: </span>
                {% for income in producers_incomes %}
                    <article class="media ">
                      <div class="media-body">

                        <div>
                          <span class="mr-2">{{ income }} zł</span>
                        </div>

                      </div>
                    </article>
                {% endfor %}
            </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="content-section sticky-element">
        <h3>Wybierz raport:</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a href="{% url 'producer-products-list' %}">Produkty</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'producer-box-list' %}">Skrzynki</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'users-report' %}">Kooperanci Koordynacja</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'producers-finance' %}">Producenci Finanse</a></li>
        </ul>
      </div>
    </div>

{% endblock content%}