{% extends "form/base_one.html" %}
{% load custom_filters %}
{% block content %}

    <div class="col-md-8">
      <label for="producers">Zmień producenta:</label>
      <select name="producers" id="producers">
        {% for producer in producers %}
            <option value="{% url 'producer-products-report' slug=producer.0 %}">{{ producer.1 }}</option>
        {% endfor %}
      </select>

    <button onclick="goToSelectedLink()">Idź</button>

      <div class="content-section">
        <h3>{{ producer.name }}</h3>
        <h3>Produkty zamówione w tym tygodniu:</h3>
        <p class='text-muted'>Przychód z zamówienia: {{ total_income|floatformat:"2" }} zł.</p>

        {% for product in products %}
            <article class="media content-section">
                <div class="media-body">
                <h5 class="article-title">{{ product.name }}</h5>
                <div>
                  <span class="article-content">Zamówiono: {{ product.ordered_quantity }} sztuk/kg</span>
                  <span class="article-content">Przychód: {{ product.income|floatformat:"2" }} zł</span>
                </div>
                </div>
            </article>
        {% endfor %}

      </div>
    </div>
    <div class="col-md-3">
      <div class="content-section sticky-element">
        <h3>Wybierz raport:</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a href="{% url 'producer-products-list' %}">Produkty</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'producer-box-list' %}">Skrzynki</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'users-report' %}">Kooperanci</a></li>
        </ul>
      </div>
    </div>

    <script>
        function goToSelectedLink() {
            var select = document.getElementById("producers");
            var selectedOption = select.options[select.selectedIndex].value;
            if (selectedOption) {
                window.location.href = selectedOption;
            }
        }
    </script>

{% endblock content%}