{% extends "templates/base_one.html" %}
{% load custom_filters %}

{% block content %}
{% endblock content %}

{% block sidebar %}
  <div class="content-section sticky-element">
    <h3>Zarządzanie dostawami</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'supply-create' %}">Nowa dostawa</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'supply-list' %}">Lista dostaw</a></li>
    </ul>
  </div>
{% endblock sidebar %}
