{% extends "supply/base_supply_sidebar.html" %}
{% load custom_filters %}

{% block content %}
<div class="col-md-9">
    <h3>Dostawa od {{ producer.short }}</h3>
    <h5>Edytuj tę dostawę:</h5>
    <div class="form-group">
        <a class="btn btn-outline-secondary my-2" href="{% url 'supply-products-form' slug=producer.slug %}">Dodaj produkty</a>
    </div>
    <div class="row">
        <div class="col-md-5 position-fix-2">
                {% for product in products %}
                    <article class="media fixed-height-small">
                      <div class="media-body">

                        <div class="article-metadata">
                          <span class="article-title border-1">{{ product.name }}</span>
                        </div>

                      </div>
                    </article>
                {% endfor %}
        </div>

        <div class="col-md-5 position-fix">
            <form method="post">
                {% csrf_token %}
                {{ form.management_form }}
                {% for form_instance in form %}
                    <article class="media fixed-height-small">

                      <div class="media-body">
                        <div class="article-metadata">
                          {{ form_instance }}
                          <input type="submit" name="submit" value="Dodaj">
                        </div>
                      </div>

                    </article>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock content%}

{% block sidebar %}
{{ block.super }}
<div class="content-section sticky-element">
    <h3>Szczegóły dostawy:</h3>
    <p class='text-muted'>Producent: {{ producer.name }}</p>
    <p class='text-muted'>Utworzono: {{ supply.date_created }}.</p>
    <a href="{% url 'supply-delete' slug=producer.slug %}" class="btn btn-primary">Usuń tę dostawę</a>
</div>
{% endblock sidebar %}