{% extends "supply/base_supply_sidebar.html" %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block content %}
<div class="col-md-9">
    <h3>Nowa dostawa od {{ producer.name }}</h3>
    <h5>Dodaje produkty do tej dostawy:</h5>
    <div class="row">
        <div class="col-md-5 position-fix-2">
                {% for product in products %}
                    <article class="media fixed-height-small">
                      <div class="media-body">

                        <div class="article-metadata">
                          <span class="article-title border-1">{{ product.name }}</span>
                        </div>

                      </div>
                    </article>
                {% endfor %}
        </div>

        <div class="col-md-5 position-fix">
            <form method="post">
                {% csrf_token %}
                {{ form.management_form }}
                {% for form_instance in form %}
                    <article class="media fixed-height-small">
                      <div class="media-body">
                        <div class="article-metadata">
                          {{ form_instance.as_table }}
                          <input type="submit" name="submit" value="Dodaj">
                        </div>

                      </div>
                    </article>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock content%}

{% block sidebar %}
{{ block.super }}
  <div class="content-section sticky-element side-panel-scroll">
    <a href="{% url 'supply-update-form' slug=producer.slug %}"><h3>Podsumowanie dostawy:</h3></a>
    <ul class="list-group">
    {% for item in supply_items %}
      <li class="list-group-item list-group-item-light">{{ item.product.name }}: {{ item.quantity|format_decimal:3 }}</li>
    {% endfor %}
    </ul>
  </div>
{% endblock sidebar %}
